.imagenes-landing {
    border-radius: 10px;
    box-shadow: rgb(161, 161, 161) 5px 5px 5px;
    width: 500px;
    height: 350px;
}

.imagenes-landing:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}